name: Update Badges
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-badges:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: pemtajo/badge-readme@main
        with:
          CREDLY_USER: etornyo-kwame-dzeke
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPOSITORY: ${{ github.repository }} # This tells the robot exactly where to save
