name: Update Badges
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-badges:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Generate Badges
        uses: pemtajo/badge-readme@main
        with:
          CREDLY_USER: etornyo-kwame-dzeke
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMMIT_MESSAGE: "chore: update credly badges [skip ci]"